<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      name="f"
      th:action="@{/auth/registration}"
      th:method="POST"
      th:object="${person}"
    >
      <div class="container">
        <label for="uname"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          name="username"
          th:field="*{email}"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          th:field="*{password}"
          required
        />

        <button type="submit">registration</button>
      </div>
    </form>
  </body>
</html>
